
header{
text-align: center;
margin-top: 20px;
background-image: url(a84908980bee01f3daf3bb98abb70b15.jpg);
border: 5px solid white;
background-size: contain;
font-size: xx-large;
font-style: italic;
font-weight: bold;
color: rgb(5, 5, 5);

}
body{
}

.container{
  height: 850px;
  width: 100%;
  border: 5px solid rgb(255, 255, 255); 
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  
}
.box{
  border: 5px solid rgb(255, 255, 255);
  margin: 30px ;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 700px;
  text-align: center;
}
.box:hover{
  transition: all 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 10px 20px 2px rgb(65, 65, 65);
  transform:translateY(-10px);
  background-color: rgb(250, 204, 212);
}
